/**
 * @author Marie-Noëlle Grant <m.noelle.grant@gmail.com>
 * @todo Compléter selon l'énoncé
*/

/** Polices de caractères **/

$fontePrimaire: 'Titillium Web', Arial, sans-serif;
$fonteSecondaire: 'Roboto', Arial, sans-serif;

/** Palette de couleurs **/

/* Couleurs de base */
$grisFonce : #1F1F1F;
$turquoise : #2F8B8B;
$noir: #000000;
$blanc: #FFFFFF;
$jaune: #E5A90E;
$fushia: #8B2F71;

/* Autres couleurs */
$fushiaFonce: #681E53;
$jauneFonce: #C68F00;
$turquoiseFonce: #125959;
$grisPale: #EEEDED;

/** Points de rupture **/

$bureau : 601px;